<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="col-12 justify-content-center align-items-center">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>

    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>

    <div class="row">
        <form class="col-12" ng-submit="$ctrl.setup()" ng-hide="$ctrl.is_working">
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Full Username" name="name" ng-model="$ctrl.newuser.name" value="{{$ctrl.newuser.name}}" focus-if required>
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="user@example.com" name="email" ng-model="$ctrl.newuser.email" value="{{$ctrl.newuser.email}}" required>
            </div>
            <div class="form-group">
                <label for="emailInput">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Set Password" ng-model="$ctrl.newuser.password1" value="{{$ctrl.newuser.password1}}">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" ng-model="$ctrl.newuser.password2" value="{{$ctrl.newuser.password2}}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block">Create Administrator</button>
            </div>
        </form>
    </div>
</div>