<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="col-12 justify-content-center align-items-center">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>

    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>

    <div class="row">
        
        <form class="col-12" ng-submit="$ctrl.editUserSubmit()" ng-hide="$ctrl.is_working">
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Full Username" name="name" ng-model="$ctrl.user.name" value="{{$ctrl.user.name}}" focus-if required>
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="user@example.com" name="email" ng-model="$ctrl.user.email" value="{{$ctrl.user.email}}" required>
            </div>
            <div class="form-group">
                <label for="emailInput">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password Change" ng-model="$ctrl.user.password1" value="{{$ctrl.user.password1}}">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password Change" ng-model="$ctrl.user.password2" value="{{$ctrl.user.password2}}">
            </div>
            <div class="form-group" ng-if="($ctrl.is_me && $ctrl.user.is_admin) || ! $ctrl.is_me">
                <label for="permissionsInput">Permissions</label>
                <input type="text" class="form-control" id="permissionsInput" placeholder="service1, service2:permission1, service2:permission2..." name="permissions" ng-model="$ctrl.user.permissions" value="{{$ctrl.user.permissions}}">
            </div>
            <div class="form-check form-group" ng-if="($ctrl.is_me && $ctrl.user.is_admin) || ! $ctrl.is_me">
                <input type="checkbox" class="form-check-input" id="is_admin" ng-model="$ctrl.user.is_admin" checked="">
                <label class="form-check-label" for="is_admin">Administrator</label>
            </div>
            <div class="form-group">
                <label>Theme (provided by Bootswatch)</label>
                <select class="form-control" id="themeInput" name="theme" ng-model="$ctrl.user.theme" value="{{$ctrl.user.theme}}">
                    <option value="cerulean">Cerulean</option>
                    <option value="cosmo">Cosmo</option>
                    <option value="cyborg">Cyborg</option>
                    <option value="darkly">Darkly</option>
                    <option value="flatly">Flatly</option>
                    <option value="journal">Journal</option>
                    <option value="litera">Litera</option>
                    <option value="lumen">Lumen</option>
                    <option value="lux">Lux</option>
                    <option value="materia">Materia</option>
                    <option value="minty">Minty</option>
                    <option value="pulse">Pulse</option>
                    <option value="sandstone">Sandstone</option>
                    <option value="simplex">Simplex</option>
                    <option value="sketchy">Sketchy</option>
                    <option value="slate">Slate</option>
                    <option value="solar">Solar</option>
                    <option value="spacelab">Spacelab</option>
                    <option value="superhero">Superhero</option>
                    <option value="united">United</option>
                    <option value="yeti">Yeti</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block">Update</button>
                <button class="btn btn-outline-danger btn-block" ng-click="$ctrl.deleteUserSubmit()" ng-if="($ctrl.is_me && $ctrl.user.is_admin) || ! $ctrl.is_me">Delete</button>
                <button class="btn btn-outline-secondary btn-block" ng-click="$ctrl.goList()" ng-if="($ctrl.is_me && $ctrl.user.is_admin) || ! $ctrl.is_me">Back</button>
            </div>
        </form>
    </div>
</div>