<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="col-12 justify-content-center align-items-center">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>

    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>

    <div class="row">
        <form class="col-12" ng-submit="$ctrl.createUserSubmit()" ng-hide="$ctrl.is_working">
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Full Username" name="name" ng-model="$ctrl.newuser.name" value="{{$ctrl.newuser.name}}" focus-if required>
            </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="user@example.com" name="email" ng-model="$ctrl.newuser.email" value="{{$ctrl.newuser.email}}" required>
            </div>
            <div class="form-group">
                <label for="emailInput">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Set Password" ng-model="$ctrl.newuser.password1" value="{{$ctrl.newuser.password1}}" required>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" ng-model="$ctrl.newuser.password2" value="{{$ctrl.newuser.password2}}" required>
            </div>
            <div class="form-group">
                <label for="permissionsInput">Permissions</label>
                <input type="text" class="form-control" id="permissionsInput" placeholder="service1, service2:permission1, service2:permission2..." name="permissions" ng-model="$ctrl.newuser.permissions" value="{{$ctrl.newuser.permissions}}">
            </div>
            <div class="form-check form-group">
                <input type="checkbox" class="form-check-input" id="is_admin" ng-model="$ctrl.newuser.is_admin" checked="">
                <label class="form-check-label" for="is_admin">Administrator</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block">Create</button>
                <button class="btn btn-outline-secondary btn-block" ng-click="$ctrl.goList()">Back</button>
            </div>
        </form>
    </div>
</div>