<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>

    <div class="row">
        <input class="form-control" id="userSearchInput" placeholder="Search..." ng-model="$ctrl.userSearch" focus-if>
        <br />
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
        <table class="table" ng-hide="$ctrl.is_working">
            <thead>
                <tr>
                    <th class="col-5" scope="col">Name</th>
                    <th scope="col-5">Email</th>
                    <th scope="col-2">Admin</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $ctrl.users | filter:$ctrl.userSearch">
                    <td><a href="#!/users/{{user.id}}">{{user.name}}</a></td>
                    <td><a href="#!/users/{{user.id}}">{{user.email}}</a></td>
                    <td><a href="#!/users/{{user.id}}">{{user.is_admin|checkmark}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a class="btn btn-outline-primary btn-block" href="#!/users/new">New</a>
    </div>
</div>